.container {
  width: 900px;
  height: 100%;
  margin: 40px auto;
  border-radius: 25px;
  border: 1px solid #000;
  text-algin: center;
  padding: 50px;
}

body{
  background-image: url("character.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
  
}
